<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">基本信息</div>
    <div style="padding: 10px 0 20px 10px;">
        <h3>&nbsp;&nbsp;&nbsp;智慧校园系统</h3>
        <ul>
            <li>智慧校园系统是通过信息化手段,实现对校园内各类资源的有效集成 整合和优化，实现资源的有效配置和充分利用，将校务管理过程的优化协调。</li>
            <li>为校园提供数字化教学、数字化学习、数字化科研和数字化管理。</li>
        </ul>
    </div>
</div>
</body>
</html>